* {
  box-sizing: border-box;
}
body {
  color: #333;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}
header a {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 0.9fr 1.1fr; */
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 500px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

div.post div.content h2 {
  margin: 0;

  font-size: 1.8rem;
}
div.post div.text a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}
div.post p.info a.author {
  color: #333;
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  border: 0;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  padding: 6px;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  display: flex;
  max-height: 200px;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
}

div.post-page a.edit-btn {
  background-color: #727272;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: aliceblue;
  padding: 15px;
  gap: 5px;
}
div.edit-row {
  margin-bottom: 20px;
  text-align: end;
}

a svg {
  height: 18px;
}
